<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Weather tracker</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
</head>

<body>
<div th:replace="~{header-component}"></div>
<div class="container min-vh-100">
    <h2>Current Weather</h2>
    <div class="container-fluid" th:if="${locationWeatherMap}">
        <div class="row">
            <div class="card m-2" style="width: 30rem" th:each="item : ${locationWeatherMap}">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <h4 class="card-title" th:text="${item.key.name}">Location</h4>
                                <h6 class="text-muted card-subtitle mb-3"
                                    th:text="${#dates.format(item.value.date, 'HH:mm:ss')}">Time</h6>
                            </div>
                            <div class="col-2">
                                <div class="dropdown">
                                    <button aria-expanded="false" class="btn" data-bs-toggle="dropdown"
                                            style="opacity: 1;" type="button">
                                        <svg class="bi bi-three-dots-vertical" fill="currentColor"
                                             height="1em" viewBox="0 0 16 16" width="1em"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z">
                                            </path>
                                        </svg>
                                    </button>
                                    <div class="dropdown-menu">
                                        <form method="post">
                                            <input name="locationId" th:value="${item.key.id}" type="hidden">
                                            <button class="dropdown-item" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col-md-6 text-start align-self-center">
                                <img alt="weather-image" class="card-img-top"
                                     th:src="@{'/img/' + ${item.value.weatherCondition} + '-' + ${item.value.timeOfDay} + '.svg'}">
                            </div>
                            <div class="col-md-6 text-end align-self-center">
                                <h1 class="text-primary" th:text="${item.value.temperature} + '°C'"></h1>
                                <p th:text="'Feels like ' + ${item.value.temperatureFeelsLike} + '°C'"></p>
                            </div>
                        </div>
                    </div>
                    <p class="fs-5 fw-semibold" th:text="${#strings.capitalize(item.value.description)}">
                    <div class="container mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <i class="fas fa-temperature-low"
                                           style="margin-right: 4px;width: 20px;"></i>
                                        <span th:text="'Min ' + ${item.value.temperatureMinimum} + '°C'"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <i class="fas fa-cloud"
                                           style="margin-right: 4px;width: 20px;padding: 0px;font-size: 14px;"></i>
                                        <span th:text="'Clouds ' + ${item.value.cloudiness} + '%'"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <i class="fas fa-wind" style="margin-right: 5px;width: 20px;"></i>
                                        <span th:text="|${item.value.windDirection}° ${item.value.windSpeed} km/h|"></span>
                                        <span th:if="${item.value.windGust}"
                                              th:text="|(Gust ${item.value.windGust} km/h)|"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <svg class="bi bi-sunrise" fill="currentColor" height="1em"
                                             style="margin-right: 7px;width: 20px;margin-left: -2px;"
                                             viewBox="0 0 16 16" width="1em"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                    d="M7.646 1.146a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 0 1-.708.708L8.5 2.707V4.5a.5.5 0 0 1-1 0V2.707l-.646.647a.5.5 0 1 1-.708-.708l1.5-1.5zM2.343 4.343a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z">
                                            </path>
                                        </svg>
                                        <span th:text="'Sunrise ' + ${#dates.format(item.value.sunrise, 'HH:mm:ss')}"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <i class="fas fa-temperature-high"
                                           style="margin-right: 0px;width: 20px;"></i>
                                        <span th:text="'Max ' + ${item.value.temperatureMaximum} + '°C'"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <i class="icon ion-waterdrop"
                                           style="margin-right: 10px;width: 20px;font-size: 16px;"></i>
                                        <span th:text="'Humidity ' + ${item.value.humidity} + '%'"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <i class="fas fa-angle-double-down"
                                           style="margin-right: 0px;width: 20px;"></i>
                                        <span th:text="'Pressure ' + ${item.value.pressure} + ' hPa'"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <svg class="bi bi-sunset" fill="currentColor" height="1em"
                                             style="margin-right: 5px;width: 20px;margin-left: -5px;"
                                             viewBox="0 0 16 16" width="1em"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                    d="M7.646 4.854a.5.5 0 0 0 .708 0l1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V1.5a.5.5 0 0 0-1 0v1.793l-.646-.647a.5.5 0 1 0-.708.708l1.5 1.5zm-5.303-.51a.5.5 0 0 1 .707 0l1.414 1.413a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .706l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z">
                                            </path>
                                        </svg>
                                        <span th:text="'Sunset ' + ${#dates.format(item.value.sunset, 'HH:mm:ss')}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary" role="button"
                       th:href="@{/forecast(locationId=${item.key.id})}">Forecast</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-between align-items-center flex-column"
         th:unless="${locationWeatherMap}">
        <img alt="missing data" th:src="@{/img/missing-data.svg}">
        <p class="fw-bold">Location Required for Weather Information</p>
        <p>Please add a location to view weather. You can do it by using the search bar above.</p>
    </div>
</div>
<div th:replace="~{footer-component}"></div>
<script crossorigin="anonymous" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>