<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    <form action="#">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>
    </form>
    <p>Don't have an account? <a href="registration.html">Create a new one</a></p>
</body>
</html>