<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Enter your username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>
        <input type="submit" value="Register">
    </form>
    <p>Already have an account <a href="login">Log in</a></p>
</body>
</html>