<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <form th:action="@{/search}" method="get" class="row my-4">
        <div class="text-center">
            <h4 class="fw-normal">Add a new location for weather tracking</h4>
        </div>
        <div class="d-flex justify-content-center">
            <input type="search" id="search" name="q" placeholder="Enter the location name" required class="form-control w-50">
            <input type="submit" value="Search" class="btn btn-primary mx-2">
        </div>
    </form>
</body>

</html>