.bg-image {
    background-image: url("../img/back-field.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.form {
    max-width: 400px;
    background-color: white;
    border-radius: 5%;
}
